@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Detta är en liten butik med stora ambitioner.</p>
</div>
<div>
    <form method="post">
        <button type="submit" asp-page-handler="RunExample">Run Example</button>
    </form>
</div>
@if (!string.IsNullOrEmpty(Model.ResultMessage))
{
    <div>
        <p>@Model.ResultMessage</p>
    </div>
}