@page
@model Models.ViewReportsModel
@{
    ViewData["Title"] = "View Reports";
}

<h1>View Reports</h1>
<p>Welcome to the View Reports page. Add your content here.</p>
<input type="text" id="reportSpecify" placeholder="Enter report id" />
<div class="basic-styling" id="renderReport">
    <p> Report</p>
    <p> Type, content, etc</p>
</div>

